body {
  font-family: "Ubuntu", serif;
  background-color: black;
  color: bisque;
  scrollbar-color: bisque black;
  scrollbar-width: thin;
}

div.navbar {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}
div.navbar a {
  font-family: "Ubuntu", serif;
  font-weight: 500;
  border-bottom: none;
  margin: 0;
  padding: 5px;
  min-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
div.navbar a.active {
  background-color: #1f1f1f;
}
div.navbar a.active:hover {
  background-color: #1f1f1f;
  color: bisque;
}
div.navbar div.dropdown {
  display: block;
}
div.navbar div.dropdown a.btn {
  display: block;
  margin: 0;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 100px;
}
div.navbar div.dropdown a.btn:hover + div.content {
  display: flex;
}
div.navbar div.dropdown div.content:hover {
  display: flex;
}
div.navbar div.dropdown div.content {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
  border: bisque solid 2px;
}

h1.title {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 20%;
}
h1.title.small {
  font-size: 50px;
  margin-bottom: 150px;
}
h1.title.error {
  color: red;
}
@media (max-width: 540px) {
  h1.title {
    font-size: 50px;
    margin-bottom: 10%;
  }
  h1.title.small {
    font-size: 30px;
    margin-bottom: 50px;
  }
}

p {
  display: block;
}
p.text {
  font-size: 20px;
}
p.text.left {
  text-align: left;
  padding-left: 5px;
  padding-right: 50%;
  border-left: 5px solid;
}
p.text.left.long {
  padding-right: 10%;
}
p.text.left.small {
  font-size: 15px;
  border-left: 2px solid;
}
@media (max-width: 540px) {
  p.text.left {
    font-size: 15px;
    padding-right: 20%;
  }
}
p.text.right {
  text-align: right;
  padding-right: 5px;
  padding-left: 50%;
  border-right: 5px solid;
}
p.text.right.long {
  padding-left: 10%;
}
p.text.right.small {
  font-size: 15px;
  border-right: 2px solid;
}
@media (max-width: 540px) {
  p.text.right {
    font-size: 15px;
    padding-left: 20%;
  }
}
p.text:not(.error) {
  margin-top: 50px;
}
p.text.error {
  color: red;
  border: none;
}

a:not(.card) {
  font-family: "Ubuntu", serif;
  font-size: 20px;
  color: bisque;
  text-decoration: none;
  border-bottom: bisque solid 2px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  cursor: pointer;
}
a:not(.card):hover {
  background-color: bisque;
  color: black;
}
a:not(.card).left {
  float: left;
  margin-left: 5px;
}
a:not(.card).right {
  float: right;
  margin-right: 5px;
}
a:not(.card).error {
  color: red;
  border: none;
  text-decoration: none;
  display: block;
}
a:not(.card).error:hover {
  color: red;
  background-color: black;
}
a:not(.card).hidden {
  color: bisque;
  text-decoration: none;
  border: none;
}
a:not(.card).hidden:hover {
  background-color: black;
  color: bisque;
}
@media (max-width: 540px) {
  a:not(.card) {
    font-size: 15px;
    border-bottom: 1px solid bisque;
  }
}

div.code-zone {
  background-color: #1f1f1f;
  border: bisque solid 2px;
  border-radius: 5px;
}
div.code-zone.left {
  float: left;
  margin-left: 5px;
  width: 45%;
}
div.code-zone.right {
  float: right;
  margin-right: 5px;
  width: 45%;
}
div.code-zone pre.code {
  overflow: auto;
  font-size: 15px;
  padding: 5px;
  color: bisque;
}
div.code-zone button {
  font-family: "Ubuntu", serif;
  font-size: 20px;
  background-color: black;
  color: bisque;
  border: bisque solid 2px;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
div.code-zone button:hover {
  background-color: bisque;
  color: black;
}
div.code-zone button.left {
  float: left;
  margin-left: 5px;
}
div.code-zone button.right {
  float: right;
  margin-right: 5px;
}

.scrolling-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
}

.scrolling-project-card {
  border: bisque solid;
  width: 150px;
  height: 185px;
  display: inline-block;
  margin-right: 10px;
}
@media (max-width: 540px) {
  .scrolling-project-card {
    width: 110px;
    height: 140px;
  }
}
.scrolling-project-card a {
  text-align: center;
  color: #ffe4c4;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
.scrolling-project-card a:not(.long) {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.scrolling-project-card a:not(.long) img {
  width: 130px;
  height: 130px;
  margin-left: 10px;
  margin-top: 10px;
  border: black solid 0;
  border-radius: 25px;
  display: block;
  mix-blend-mode: normal;
}
.scrolling-project-card a.long {
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 10px;
}
.scrolling-project-card a.long img {
  width: 130px;
  height: 130px;
  margin-left: 10px;
  margin-top: 4px;
  border: black solid 0;
  border-radius: 25px;
  display: block;
}
@media (max-width: 540px) {
  .scrolling-project-card a:not(.long) {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .scrolling-project-card a:not(.long) img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-top: 10px;
    border: black solid 0;
    border-radius: 25px;
    display: block;
    mix-blend-mode: normal;
  }
  .scrolling-project-card a.long {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .scrolling-project-card a.long img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-top: 4px;
    border: black solid 0;
    border-radius: 25px;
    display: block;
  }
}
.scrolling-project-card p.hidden {
  display: none;
}

div.project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.project-card {
  border: bisque solid;
  width: 150px;
  height: 185px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
@media (max-width: 540px) {
  div.project-card {
    width: 110px;
    height: 140px;
  }
}
div.project-card a {
  text-align: center;
  color: #ffe4c4;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
div.project-card a:not(.long) {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
div.project-card a:not(.long) img {
  width: 130px;
  height: 130px;
  margin-left: 10px;
  margin-top: 10px;
  border: black solid 0;
  border-radius: 25px;
  display: block;
  mix-blend-mode: normal;
}
div.project-card a.long {
  font-size: smaller;
  margin-top: 5px;
  margin-bottom: 10px;
}
div.project-card a.long img {
  width: 130px;
  height: 130px;
  margin-left: 10px;
  margin-top: 4px;
  border: black solid 0;
  border-radius: 25px;
  display: block;
}
@media (max-width: 540px) {
  div.project-card a:not(.long) {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  div.project-card a:not(.long) img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-top: 10px;
    border: black solid 0;
    border-radius: 25px;
    display: block;
    mix-blend-mode: normal;
  }
  div.project-card a.long {
    font-size: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  div.project-card a.long img {
    width: 100px;
    height: 100px;
    margin-left: 5px;
    margin-top: 4px;
    border: black solid 0;
    border-radius: 25px;
    display: block;
  }
}

footer {
  height: 100px;
  background-color: black;
  border-top: bisque solid 2px;
  margin: 0;
  margin-top: 50px;
  padding-top: 5px;
  white-space: nowrap;
  text-align: center;
}
footer p {
  font-size: 15px;
  margin: 0;
  display: inline-block;
}
footer a {
  margin: 5px;
  margin-right: 10px;
  font-size: 15px;
  color: bisque;
  text-decoration: none;
  border: none;
  display: inline-block;
}
footer div.link {
  display: inline-block;
  margin: 0;
  margin-right: 10px;
  font-size: 15px;
  color: bisque;
  text-decoration: none;
  border: none;
}
footer div.link a {
  margin: 0;
  margin-right: 10px;
  font-size: 15px;
  color: bisque;
  text-decoration: none;
  border: none;
}
footer div.link a:hover {
  color: bisque;
  background-color: black;
}
footer .bottom-footer {
  display: block;
  margin: 10px;
  font-size: 10px;
  border: bisque solid 2px;
  padding: 5px;
  border-radius: 5px;
}
footer .bottom-footer .creative-commons {
  display: inline-block;
  margin: 0;
  font-size: 15px;
  color: bisque;
  text-decoration: none;
  border: none;
}
footer .bottom-footer .creative-commons img {
  height: 20px;
  margin: 0;
  margin-right: 1px;
  margin-left: 1px;
}
footer .bottom-footer a {
  font-size: 15px;
  color: bisque;
  text-decoration: none;
  border: none;
  margin: 0;
}
footer .bottom-footer a img {
  margin: 0;
  margin-right: 5px;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: bisque;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffe4c4;
}

::-webkit-scrollbar-thumb:active {
  background: #ffdbb3;
}

::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #1f1f1f;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/*Scrollbar*/