body {
    font-family: 'Ubuntu', serif;
    background-color: black;
    color: bisque;

    scrollbar-color: bisque black;
    scrollbar-width: thin;

}

h1.title {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 150px;

    &.small {
        font-size: 50px;
        margin-bottom: 150px;
    }
}

p {
  &.text {
      font-size: 20px;
      margin-top: 50px;

      &.left {
          text-align: left;
          padding-left: 5px;
          padding-right: 50%;
          border-left: 5px solid;

          &.long {
            padding-right: 10%;
          }
      }

      &.right {
          text-align: right;
          padding-right: 5px;
          padding-left: 50%;
          border-right: 5px solid;

          &.long {
            padding-left: 10%;
          }
      }

      a {
          color: bisque;
          text-decoration: none;
          border-bottom: bisque solid 1px;
          transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
      }
      

      a:hover {
          color: black;
          background-color: bisque;
      }
    
  }
}


div.code-zone {

  background-color: #1f1f1f;
  border: bisque solid 2px;
  border-radius: 5px;
  
  &.left {
    float: left;
    margin-left: 5px;
    width: 45%;
  }

  &.right {
    float: right;
    margin-right: 5px;
    width: 45%;
  }


  pre.code {
    overflow: auto;
    font-size: 15px;
    padding: 5px;
    color: bisque;
  }
  
  button {
    font-family: 'Ubuntu', serif;
    font-size: 20px;
    background-color: black;
    color: bisque;
    border: bisque solid 2px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  
    &:hover {
      background-color: bisque;
      color: black;
    }
  
    &.left {
      float: left;
      margin-left: 5px;
    }
  
    &.right {
      float: right;
      margin-right: 5px;
    }
  }
}



img.pdp {
    float: right;
    height: 100px;
}

.scrolling-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
}

.project-card {
  border: bisque solid;
  border-radius: 20px;
  width: 150px;
  height: 185px;
  display: inline-block;
  margin-right: 10px;

  a {
    text-align: center;
    color: bisque;
    text-decoration: none;
    font-weight: bold;
    display: block;

    

    &:not(.long) {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 10px;

      img {
        width: 130px;
        height: 130px;
        margin-left: 10px;
        margin-top: 10px;
        border: black solid 0;
        border-radius: 25px;
        display: block;
      }
    }

    &.long {
      font-size: smaller;
      margin-top: 5px;
      margin-bottom: 10px;
      
      img {
        width: 130px;
        height: 130px;
        margin-left: 10px;
        margin-top: 4px;
        border: black solid 0;
        border-radius: 25px;
        display: block;
      }
    }


  }



  p {

    &.hidden {
      display: none;
    }
    
  }
}

footer {
  height: 100px;
  background-color: black;
  border-top: bisque solid 2px;
  margin: 0;
  margin-top: 50px;
  padding-top: 5px;
  white-space: nowrap;
  text-align: center;

  p {
    font-size: 15px;
    margin: 0;
    display: inline-block;
  }

  a {
    margin: 5px;
    margin-right: 10px;
    font-size: 15px;
    color: bisque;
    text-decoration: none;
    display: inline-block;
  }

  a:hover {
    color: #ffdbb3;
  }

  .creative-commons {
    display: block;
    margin: 10px;
    font-size: 10px;
    border: bisque solid 2px;
    padding: 5px;
    border-radius: 5px;

    a {
      font-size: 10px;
      color: bisque;
      text-decoration: none;
      margin: 0;
    }

    img {
      height: 12px;
      margin: 0;
      margin-right: 1px;
      margin-left: 1px;
    }
  }
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: bisque;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffe4c4;
}
::-webkit-scrollbar-thumb:active {
  background: #ffdbb3;
}
::-webkit-scrollbar-track {
  background: #000000;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #1f1f1f;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


  
  /*Scrollbar*/